<form method="GET" class="d-flex">
	<input class="form-control" type="text" style="margin-right: 1rem; background-color: var(--color-text-light);" name="title" placeholder="Search Movie">
	<button class="btn btn-primary" type="submit">Search</button>
</form>

<div class="grid-container">
	<% details.forEach((movie) => { %>
	<div class="movie-card card">
		<img
			src="/api/images/<%= movie.coverImage %>"
			class="card-img-top image-card"
			alt="..."
		/>
		<div class="text-center card-body">
			<h5 class="card-title movie-title"><%= movie.title %></h5>
			<div class="movie-btn-grid">
				<button
					class="btn btn-primary"
					data-bs-toggle="collapse"
					data-bs-target="#collapse<%= movie.id %>"
				>
					See More
				</button>
				<a href="/api/admin/movie/show/<%= movie.id %>" class="btn btn-primary">Movie Page</a>
			</div>
			<div class="collapse text-primary mt-3" id="collapse<%= movie.id %>">
				<div class="card-body">
					Director: <%= movie.director.name %>
					<br />
					Rating: <%= movie.avgRating.value %>
				</div>
			</div>
		</div>
	</div>
	<% }) %>
</div>

<a class="fixed-button btn" href="/api/admin/movie/add"><i class="plus-sign fas fa-plus"></i></a>
