<% if (details.length == 0) { %>
	<h2 style="text-align: center">No Movies for you</h2>
<% } else { %>
	<div class="grid-container">
		<% details.forEach((movie) => { %>
		<div class="movie-card card">
			<img
				src="/api/images/<%= movie.coverImage %>"
				class="card-img-top image-card"
				alt="..."
			/>
			<div class="text-center card-body">
				<h5 class="card-title movie-title"><%= movie.title %></h5>
				<div class="movie-btn-grid">
					<button
						class="btn btn-primary"
						data-bs-toggle="collapse"
						data-bs-target="#collapse<%= movie.id %>"
					>
						See More
					</button>
					<a href="/api/user/movie/show/<%= movie.id %>" class="movie-see-more btn btn-primary">Movie Page</a>
				</div>
				<div class="collapse text-primary mt-3" id="collapse<%= movie.id %>">
					<div class="card-body">
						Director: <%= movie.director.name %>
						<br />
						Rating: <%= movie.rating %>
					</div>
				</div>
			</div>
		</div>
		<% }) %>
	</div>
<% } %>
